h1{
    text-align: center;
}
body{
    text-align: center;
}
form{
    display: inline-block;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


input[type="checkbox"] {
    margin-right: 10px;
}

span {
    display: inline-block;
    width: 200px; 
    vertical-align: middle;
}


a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}


span.completed {
    text-decoration: line-through;
    color: #888;
}

form {
    margin-top: 20px;
    width: 300px; 
}

input[type="text"] {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
}


button {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: #0056b3; 
}
